body {
  font-family: Helvetica;
  background-color: aliceblue;
}

.outer_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background: rgb(118,221,188);
  background: linear-gradient(90deg, rgba(118,221,188,0.6558998599439776) 0%, rgba(211,219,100,0.32816876750700286) 35%, rgba(97,235,191,0.804359243697479) 100%);
}

.container {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
}

.smaller_container {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  gap: 20px;
}

.info_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  background-color: #f9f9f9;
}

.info_box p, .info_box h2, .info_box h3 {
  text-align: center;
  margin-bottom: 15px;
}

.info_box a {
  text-decoration: none;
  color: #007BFF;
}

.info_box a:hover {
  text-decoration: underline;
}
.links_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.left, .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 50px;
}

.right {
  margin-right: 50px;
}